.about-us-section {
  margin-bottom: 5em;
  text-align: center;
}

.about-us-section h1 {
  padding-bottom: 1em;
}

.about-us-section p {
  padding: 0 4em;
  line-height: 1.5em;
}

.hex-divider {
  width: 2%;
  margin: 1em auto;
}
