.title-section h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.hex-container {
  perspective: 1000px;
}

.hex {
  background: url(../../../src/styles/images/hex.svg);
  background-size: 80% auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 24em;
  height: 24em;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hex:hover {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.hex-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.paragraph p {
  width: 70%;
  text-align: center;
  font-size: 1.1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.paragraphs-first-row {
  display: flex;
}

.paragraphs-second-row {
  display: flex;
  margin-left: 12em;
}

.bees-matter-image {
  width: 20%;
  margin: 0 auto;
}
