.honey-jar-img {
  width: 35em;
  height: auto;
  margin: 2em auto 0 auto;
}

.cards-container {
  display: flex;
  justify-content: center;
}

.cards-container .card {
  position: relative;
}

.cards-container .card .face {
  width: 30rem;
  height: 12rem;
  transition: 0.5s;
}

.cards-container .card .face.face1 {
  position: relative;
  background: rgb(131, 95, 33);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  z-index: 1;
  transform: translateY(100px);
}

.cards-container .card:hover .face.face1 {
  background: #eba937;
  transform: translateY(0);
}

.cards-container .card .face.face1 .content {
  opacity: 0.8;
  transition: 0.5s;
}

.cards-container .card:hover .face.face1 .content {
  opacity: 1;
}

.cards-container .card .face.face1 .content h3 {
  padding: 0 30px;
  color: white;
  text-align: center;
  font-size: 2.5rem;
}

.cards-container .card .face.face2 {
  position: relative;
  background: black;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.cards-container .card:hover .face.face2 {
  transform: translateY(0);
}

.cards.container .card .face.face2 p {
  margin: 0;
  padding: 0;
  color: white;
}
